<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><%= t('home.better_organization_to_get_focused') %></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gavel text-primary sr-icons"></i>
                    <h3><%= t("pages.home.services.stauy_work_or_party") %></h3>
                    <p class="text-muted"><%= t("pages.home.services.stauy_work_or_party_text") %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3><%= t("pages.home.services.achieve_your_goals") %></h3>
                    <p class="text-muted"><%= t("pages.home.services.achieve_your_goals_text") %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3><%= t("pages.home.services.share") %></h3>
                    <p class="text-muted"><%= t("pages.home.services.share_text") %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star-half-o text-primary sr-icons"></i>
                    <h3><%= t("pages.home.services.starred_list") %></h3>
                    <p class="text-muted"><%= t("pages.home.services.starred_list_text") %></p>
                </div>
            </div>
        </div>
    </div>
</section>
